---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Short Stack', cursive;
$base-font-size:   13px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// ====================================================================================================================

html {
  overflow-y: scroll;
}

body {
  background-image: radial-gradient( circle, rgba(255,255,255,0.31), rgba(0,0,0,0.67) ), url('/assets/GoldenSoftwareLogoBigAlpha.png');
  background-blend-mode: multiply;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: contain;
}

.site-header {
  border-top: 0px;
  min-height: 30px;
  background-color: rgba( 255, 255, 255, 0.76 );

  .site-nav, .site-title {
    line-height: 49px;
  }
}

.page-content {
  padding-top:    13px;
  padding-bottom: 13px;
}

.home {
  background-color: rgba( 255, 255, 255, 0.67 );

  min-height: 600px;

  .post-list li
  {
    padding-top:   13px;
    margin-bottom: 13px;

    span:first-child {
      padding-left:  13px;
    }
    
  
    h2 {
      margin-bottom:  0px;
      padding-left:  13px;
      padding-right: 13px;
    }

    p {
      padding:  13px;
    }

    background-color: rgba( 255, 255, 255, 0.67 );
  }

  p {
    padding-left:  13px;
    padding-right: 13px;

    background-color: rgba( 255, 255, 255, 0.67 );
  }
}

.post {
  background-color: rgba( 255, 255, 255, 0.67 );

  min-height: 600px;

  .post-header {
    margin-bottom: 13px;

    .post-title {
      padding-top:  13px;
      padding-left: 13px;
    }

    .post-meta {
      padding-left: 13px;
    }
      
    background-color: rgba( 255, 255, 255, 0.76 );
  }

  article {
    margin-top:    13px;
    padding-top:   13px;
    padding-left:  13px;
    padding-right: 13px;

    background-color: rgba( 255, 255, 255, 0.76 );
  }
}


footer {
  background-color: rgba( 255, 255, 255, 0.3 );
}

.tabbed-content {
  margin:   0px;
  padding:  0px;

  .tabbar {
    border:  1px solid $grey-color-dark;
    padding: 0px;

    width: 100%;

    background-color: $grey-color-light;

    .tab {
      margin:   0px;
      padding: 13px;

      background-color: $grey-color-light;

      white-space: nowrap;
    }

    .tab:hover {
      cursor: pointer;
      color: $background-color;
      background-color: $grey-color-dark;
    }

    .tab:focus {
      color: $background-color;
      background-color: $grey-color-dark;
    }

    .fill {
      width: 100%;
    }
  }

  .tab-content {
    margin-top: 25px;

    table {
      margin-left: auto;
      margin-right: auto;
    }
    
    display: none;
  }
}

.section {
  h1:hover  { background-color: rgba( 255, 255, 127, 0.3 ); cursor: pointer; }
  h1:active { background-color: rgba( 255, 255, 127, 0.7 ); }
  h1:focus  { background-color: rgba( 255, 255, 127, 0.3 ); }
  h2,h3     { font-size: 1.50em; }
  h4,h5     { font-size: 1.25em; }
  h2,h4     { color: rgba( 0, 0, 0, 0.5 ); }
  h3,h5     { color: rgba( 0, 0, 0, 0.3 ); }
  h3::before,h5::before { content: " " }
}

.section:not(.selected) {
  h2,h3,h4,h5,p {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  footer {

    .wrapper {

      .footer-col-wrapper {
        margin: 0px; border: 0px; padding: 0px;
        text-align: center;

        .footer-col {
          margin: 5px; border: 0px; padding: 0px;
          text-align: center;
          width: 100%;

          * {
            margin: 0px; border: 0px; padding: 0px;
          }
        }
      }
    }
  }

  .section:not(.selected) {
    h2,h3,h4,h5,p {
      display: inherit;
    }
  }

  small { display: none; }
}

