---
layout: disqus-page
title: code
permalink: /code/
---

<div class="code">

  <blockquote>
    &quot;In computing, <a href="https://en.wikipedia.org/wiki/Source_code">source code</a> is any collection of
    computer instructions, (possibly with comments), written using a human-readable computer language, usually as
    ordinary text.&quot;

    -- <a href="https://www.wikipedia.org/">Wikipedia</a></blockquote>
  </blockquote>

  <p>
    Here is a collection of articles about source code I've written along with links to the source code repositories.
  </p>

  <p>
    I've got tons of old code laying around the garage: games, applications, tools, utilties and libraries. Eventually,
    it will all end up here - little by little, as I get my self a bit more orgnaized.
  </p>

  {% capture oldest_date %}{{ site.time   |date: "%s"     }}{% endcapture %}
  {% capture oldest_date %}{{ oldest_date |minus: 2592000 }}{% endcapture %}

  <ul class="post-list">
    {% for post in site.posts %}

      {% capture post_date %}{{ post.date |date: "%s" }}{% endcapture %}

      {% unless post_date < oldest_date %}
        {% if post.categories contains "code" %}
          <li>

            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>&nbsp;-&nbsp;<span>{{ post.topic }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {{ post.excerpt }}

          </li>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
