---
layout: disqus-page
title: setst
permalink: /setst/
---

<div class="setst">

  <h1>Seek Enlightenment Through Self Transformation</h1>

  <p>
    I believe that I cannot change what another person believes.
    ... I can only change my
    <a href="https://en.wikipedia.org/wiki/Self">Self</a>.
  </p>

  <blockquote>
    <a href="https://en.wikipedia.org/wiki/Metaphysics">Metaphysics</a> is a branch of philosophy concerned with
    explaining the fundamental nature of being and the world that encompasses it.

    -- <a href="https://www.wikipedia.org/">Wikipedia</a></blockquote>
  </blockquote>

  <p> My life has been an interesting trip, so far, to say the least. ... And, I wonder why. </p>
  
  <p>
    These articles are reflections on my journey to discover - for my
    <a href="https://en.wikipedia.org/wiki/Self">Self</a> - who we are, why we are here, where we are going
    and how I can help make
    <a href="https://en.wikipedia.org/wiki/Existence">Existence</a> a better place for everyone.
  </p>

  {% capture oldest_date %}{{ site.time   |date: "%s"     }}{% endcapture %}
  {% capture oldest_date %}{{ oldest_date |minus: 2592000 }}{% endcapture %}

  <ul class="post-list">
    {% for post in site.posts %}

      {% capture post_date %}{{ post.date |date: "%s" }}{% endcapture %}

      {% unless post_date < oldest_date %}
        {% if post.categories contains "setst" %}
          <li>

            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>&nbsp;-&nbsp;<span>{{ post.topic }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {{ post.excerpt }}

          </li>
        {% endif %}
      {% endunless %}

    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
